<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>53707065740-r9c2284b4tp5jt21ula42mh2kut3fip1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53707065740-r9c2284b4tp5jt21ula42mh2kut3fip1</string>
	<key>API_KEY</key>
	<string>AIzaSyCHlVqnOVlznuHmMfqTT3DCWaTFIcHmSs4</string>
	<key>GCM_SENDER_ID</key>
	<string>53707065740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jarvi5.FootballApp</string>
	<key>PROJECT_ID</key>
	<string>footballapp-f9537</string>
	<key>STORAGE_BUCKET</key>
	<string>footballapp-f9537.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53707065740:ios:cb0724b274deacff</string>
	<key>DATABASE_URL</key>
	<string>https://footballapp-f9537.firebaseio.com</string>
</dict>
</plist>